
@media screen and (max-width:1000px){


}





@media screen and (max-width:800px){


}

@media screen and (min-width:600px){

	ul{
	display: flex;
	align-items: center;
	justify-content: ;
	text-decoration:none;
	padding-right: 0px;
	margin-right:0;
	align-items: ;
	flex-direction:column;
	}



}